html, body{
    height: 100%;
    background: #222;
}
.theme-content > h1{
    color : #fff;
}

.theme-content {
    color: black;
    height: 100%;
    position: relative;
}

.theme-content .container {
    background: #fff;
    box-shadow: 5px 5px 10px #000, -5px 5px 10px #000;
}

.theme-content .blog-title {
    border-bottom: solid 2px #ddd;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

.theme-content .blog-title > a {
    text-decoration: none;
    color: limegreen;
}

.theme-content .blog-title > .blog-author {
    float: right;
    color: #999;
    font-size: 14px;
    margin-top: 40px;
}

.theme-content .blog-post{
    border-bottom: solid 1px #ddd;
}

.theme-content .media-object{
    width: 600px;
    height: 300px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.theme-content .blog-posts .blog-post-title {
    color: limegreen;
}

.comment-avatar {
    width: 50px !important;
    height: 60px !important;
    margin-left: 0;
    padding-bottom: 0;
}