html{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    height: 100%;
}
body.splash-page{
    background: url(../images/bg1.jpe) #fff;
    background-position: 40%;
    background-size: cover;
}
a:hover{
    text-decoration: none;
}
.btn-transparent{
    color: #fff;
    text-transform: uppercase;
    background: rgba(255,255,255,0.2);
    border: none;
}
.btn-transparent:hover{
    color: #fff;
    background: rgba(255,255,255,0.4);
}
.background-overlay{
    background: rgba(0,0,0,0.7);
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-header{
    margin-top: 80px;
}
.logo{
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
}
.logo:hover {
    color: #fff;
    text-decoration: none;
}
.logo span{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
    width : 50px;
    height: 50px;
}
.main-nav{
    margin-top: 7px;
}
.main-nav a{
    color: #fff;
    text-transform: uppercase;
    background: rgba(255,255,255,0.2);
    border: none;
}
.main-nav a:hover{
    color: #fff;
    background: rgba(255,255,255,0.4);
}
.intro{
    background: transparent;
    color: #fff;
    margin-top: 250px;
}
.intro h1{
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.intro .tagline{
    font-size: 25px;
    font-weight: lighter;
}
.main-signup-btn, .explore-btn{
    text-transform: uppercase;
    font-weight: lighter;
    padding: 15px 40px;
    margin-top: 15px;
}
.main-signup-btn span{
    margin-left: 10px;
}
.explore-btn{
    background: rgba(255,255,255,0.2);
    color: #fff;
    border: none;
    margin-left: 15px;
}
.explore-btn:hover{
    color: #fff;
    background: rgba(255,255,255,0.4);
}
/**
 * Sign up
 */
 .container-sm{
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.container-md{
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.signup-container{
    margin-top: 80px;
}
.signup-container h1{
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    font-weight: lighter;
}
.form-header{
    padding: 15px;
}
.signup-form{
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0, 0.7);
    border-radius: 5px;
    padding: 20px;
}
.signup-container .form-footer{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 30px;
}
/**
 * Home page
 */
 .logo{
    text-align: center;
    margin-top: 20px;
}

.btn-navbar {
    margin: 10px 5px;
}

.admin-post-image{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.page-header .btn{
    margin-top: 10px;
}

.spark-notice {
    color: #fff;
    padding: 40px;
    text-align: center;
    font-weight: bold;
}

.user-image{
    height: auto;
    width: 100%;
}

/**
 * explore-sidebar
 */

 .panel-body-fixed{
    max-height: 380px;
    overflow: auto;
}
/**
 * user profile image
 */
 .user-pro-img{
    width: 23px;
    height: 23px;
}


/**
 * profile page
 */

 .profile-header{
    background-color: #fff;
    background-image: url(../images/bg1.jpe);
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
}

.profile-info{
    background : rgba(0,0,0,0.5);
    max-width: 400px;
    padding: 20px;
    width: 100%;
    color: #fff;
    margin-top: 130px;
    border-radius: 4px;
}

.user-info{
    margin-top: 20px;
    margin-left: 15px;
}

.user-info .media-heading {
    font-size: 22px;
    font-weight: lighter;
}

.user-info .profile-actions {
    margin-top: 15px;
}

.media-left .user-img{
    width: 150px;
    height: 150px;
}

.buttons-group{
    margin-top: 2px;
}

.share-buttons {
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.twitter-share {
    float: left;
    margin: 0 10px;
}

.facebook-share {
    float: left;
    margin: 0 10px;
}