html, body{
    height: 100%;
    background: #1E4E65;
}

.theme-content {
    color: #fff;
    height: 100%;
    position: relative;
}

.theme-content > a {
    color: #fff;
}

.theme-content .blog-title {
    border-bottom: solid 1px rgba(255,255,255, 0.1);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.theme-content .blog-title > a {
    color: #fff;
}

.theme-content .blog-title > .blog-author {
    float: right;
    font-size: 14px;
    margin-top: 20px;
}

.theme-content{
    margin-top: 50px;
}

.theme-content .blog-post > .featured-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.comment-avatar {
    width: 50px !important;
    height: 50px !important;
    margin-left: 0;
    padding-bottom: 0;
}s